
.root {
    -fx-background-image: url(img/gui-prototypes.png), url(img/wallbg.png);
    -fx-background-repeat: repeat;
    -fx-overflow: hidden;
    -fx-font-family: "VCR OSD Mono";
    -fx-border-style: solid;
    -fx-border-color:#05abb1;
    -fx-border-radius:4px;
    -fx-text-fill:white;
    }

.button {
    -fx-background-color: #e1f4b3;
    -fx-background-size: 60%;
    -fx-text-fill: #06abb1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-background-insets: 0;

    -fx-font-size: 20px
}

#toolbox {
    -fx-background-color: #c1e9b3;
    -fx-border-width: 0 0 1 0; -fx-border-color: white;
}
