.root {
    -fx-background-image: url(img/gui-prototypes.png), url(img/wallbg.png);
    -fx-background-repeat: round;}

.button {
    -fx-background-color: #e1f4b3;
    -fx-background-size: 60%;
    -fx-padding:5 50 5 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px
}
